@{
    ViewBag.Title = "display";
}
<!DOCTYPE html>
<html>
<body>
    <canvas id="canvas"></canvas>
    <script>
    canvas.setAttribute('width', window.innerWidth);
    canvas.setAttribute('height', window.innerHeight);
    var ctx = canvas.getContext("2d");
    ctx.beginPath();
    var Lon = ((parseFloat(@ViewBag.Lon + 180)) *(window.innerWidth/360));
    var Lat = ((parseFloat(@ViewBag.Lat + 90)) * (window.innerHeight / 180));
    ctx.arc(Lon, Lat, 6, 0, 2 * Math.PI);
    ctx.fillStyle = 'red';
    ctx.fill();
    ctx.strokeStyle = "blue";
    ctx.stroke();
    </script>    
</body>
</html>

@*

    var image = new Image();
      image.src = "~/photo/export-map-share.png";
      var canvas = document.getElementById('canvas');
      function initImage() {
          var canvas = document.getElementById('canvas');
          var ctx = canvas.getContext('2d');
          var Mwidth = window.innerWidth;
          var Mheight = window.innerHeight;
          ctx.canvas.width = Mwidth;
          ctx.canvas.height = Mheight;
          ctx.drawImage(image, 0, 0, Mwidth, Mheight);
      }
      let dpr = window.devicePixelRatio;
      onresize = e => {
          if (window.devicePixelRatio !== dpr) {
               setTimeout(_ => dpr = window.devicePixelRatio, 20)
             }else {
               initImage();
            }
      };*@